*
  box-sizing: border-box

html,
body
  font:
    size: 100%;

body
  background: $white
  font:
    family: "Nunito", sans-serif
    size: 1.05em
    weight: 300
  line-height: 1.25
  color: $black
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%