/**
 * Colors for the site
 */
$black:         #333
$gray:          #aaa
$silver:        #ddd
$white:         #fff
$blue:          #5294E2
$green:         #2ecc40
$red:           #F46067

$bg-color:      #F5F5F5
$border-color:  $silver
$selection:     #ffdc00

$black-transparent:   transparentize($black, 0.2)
$white-transparent:   transparentize($white, 0.2)

/**
 * Colors for the companies
 */
$linkedin:      #0077B5
$codepen:       #222
$github:        #4078C0
$dribbble:      #EC4A89
$behance:       #1769FF