footer.site-footer
  div.footer-wrap
    p Sobre este site
    nav.social
      {% for social in site.data.settings.social %}
      a(href="{{ social.link }}" target="_blank" class="social-link {{ social.icon }}")
        #[span {{ social.name }}]
        {% include icons/{{ social.icon }}.html %}
      {% endfor %}
