footer.site-footer
  .container
    div.footer-wrap
      p Sobre este site
      div.social
        a(href="#0" target="_blank").social-link.linkedin
          span Linkedin
        a(href="#0" target="_blank").social-link.codepen
          span Codepen
        a(href="#0" target="_blank").social-link.github
          span Github
        a(href="#0" target="_blank").social-link.dribbble
          span Dribbble
        a(href="#0" target="_blank").social-link.behance
          span Behance
