//- Header do site
header.site-header
  input(type="checkbox" id="menu-toggle")
  nav
    label(for="menu-toggle" class="menu-toggle")
    {% if page.layout == 'landpage' %}
    div(class="logo").
      {% include icons/logo.html %}
    {% else %}
    a(href="{{ site.baseurl }}" class="logo").
      {% include icons/logo.html %}
    {% endif  %}

    {% if page.layout == 'about' %}
    div(class="nav-link nav-about active").
      Sobre mim #[span.description Saiba um pouco mais sobre quem sou eu]
    {% else %}
    a(href="{{ site.baseurl }}sobre-mim/" class="nav-link nav-about").
      Sobre mim #[span.description Saiba um pouco mais sobre quem sou eu]
    {% endif  %}

    {% if page.layout == 'portfolio' %}
    div(class="nav-link nav-portfolio active").
      Portfólio #[span.description Projetos que trabalhei com meus clientes]
    {% else %}
    a(href="{{ site.baseurl }}portfolio/" class="nav-link nav-portfolio").
      Portfólio #[span.description Projetos que trabalhei com meus clientes]
    {% endif  %}

    {% if page.layout == 'blog' %}
    div(class="nav-link nav-blog active").
      Blog #[span.description Um pouco sobre minha vida e como faço as coisas]
    {% else %}
    a(href="{{ site.baseurl }}blog/" class="nav-link nav-blog").
      Blog #[span.description Um pouco sobre minha vida e como faço as coisas]
    {% endif  %}
    
    {% if page.layout == 'contact' %}
    div(class="nav-link nav-contact active").
      Contato #[span.description Caso queira me contratar ou apenas dizer oi]
    {% else %}
    a(href="{{ site.baseurl }}contato/" class="nav-link nav-contact").
      Contato #[span.description Caso queira me contratar ou apenas dizer oi]
    {% endif  %}
