.container
  section.hero-banner
    h1 Olá Eu sou o Tiagones e nós deveríamos trabalhar juntos!
    p.
      #[span #{"Eu gosto de criar 'Internetz'".toUpperCase()}]. Caso precise criar um site, transformar um layout em código, fazer a identidade visual da sua empresa ou precise de uma consultoria em e-commerce...
    a(href="#0").btn.btn-cta.btn-white Me contrate