.container
  section.column.column-gutter.column-1of2.hero-content
    h1 Olá Eu sou o Tiagones e nós deveríamos trabalhar juntos!
    p.
      #[strong #{"Eu gosto de criar 'Internetz'".toUpperCase()}]. Caso precise criar um site, transformar um layout em código, fazer a identidade visual da sua empresa ou precise de uma consultoria em e-commerce...
    a(href="#0").btn.btn-cta.btn-black Me contrate
    
  section.column.column-gutter.column-1of2.hero-img
