.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
  display: inline-block
  height: 38px
  padding: 0 30px
  color: $black
  font-size: 11px
  line-height: 38px
  letter-spacing: .1rem
  text:
    transform: uppercase
    decoration: none
    align: center
  white-space: nowrap
  background:
    color: transparent
  border-radius: 19px
  border: 2px solid $black
  cursor: pointer

  &:hover,
  &:active,
  &:focus
    color: $gray
    border-color: $gray
    outline: 0