.site-footer
  margin-top: 4rem

  .footer-wrap
    display: flex

    p
      font-size: 0.8em
      margin: 0
      align-self: center

    .social
      margin-bottom: 0
      display: flex

      .social-link
        display: flex
        justify-content: center
        height: 3.33rem
        width: 3.33rem
        color: $black
        overflow: hidden
        span
          align-self: center
          font-size: 0.66em

      .linkedin
        &:hover
          color: $white
          background-color: $linkedin

      .codepen
        &:hover
          color: $white
          background-color: $codepen

      .github
        &:hover
          color: $white
          background-color: $github

      .dribbble
        &:hover
          color: $white
          background-color: $dribbble

      .behance
        &:hover
          color: $white
          background-color: $behance

  // Footer for Small Devices
  @media (max-width: 767px)
    .footer-wrap
      flex-direction: column

      .social
        border-top: 2px solid $black
        margin-top: 1rem
        justify-content: space-around

        .social-link
          //flex-basis: 25%
          flex-grow: 1

  // Footer for Medium Devices
  @media (min-width: 768px)
    .footer-wrap
      border-top: 2px solid $black
      max-width: 100%

      .social
        margin-left: auto

// Make the Footer White when needed
.white-footer
  .site-footer
    color: $white

    .social
      .social-link
        color: $white

  // Footer for Medium Devices
  @media (max-width: 767px)
    .footer-wrap
      .social
        border-top: 2px solid $white

  // Footer for Medium Devices
  @media (min-width: 768px)
    .footer-wrap
      border-color: $white-transparent