/*!
 * Start of the Grid
 */
.container,
.container-fluid
  display: flex
  flex-wrap: wrap

/*!
 * Container: Have fixed width for many screens and centered content
 */
.container
  margin: 0 auto

  // Extra small devices (phones)
  @media (max-width: 543px)
    margin: 0 ($grid-gutter / 2)
    max-width: 543px

  // Small devices (phones, landscape)
  @media (min-width: 544px)
    max-width: 544px

  // Medium devices (tablets)
  @media (min-width: 768px)
    max-width: 768px

  // Large devices (desktops)
  @media (min-width: 992px)
    max-width: 992px

  // Extra large devices (large desktops)
  @media (min-width: 1200px)
    max-width: 1200px

  // Full HD devices (FullHD desktops)
  @media (min-width: 1550px)
    max-width: 1550px


/*!
 * Comumns
 */
.column
  box-sizing: border-box
  flex: 1

// Sizing
.column-1of2
  flex: 0 0 50%

.column-1of3
  flex: 0 0 33.3333%

.column-1of4
  flex: 0 0 25%

.column-full
  flex: 0 0 100%

// When need to have gutters
.column-gutter
  padding: 0 ($grid-gutter / 2)

  &:first-child
    padding-left: 0

  &:last-child
    padding-right: 0

  @media (max-width: 767px)
    flex: 0 0 100%
    padding: 0
