.site-header
  margin-bottom: 3.6em

  #menu-toggle
    display: none
  
  #menu-toggle:checked + nav > .nav-link
    transform: translate(0, 0)
    transition: transform 0.5s ease-in-out

  nav
    .nav-links
      font:
        family: "Varela Round", sans-serif

  // Menu for Small Devices
  @media (max-width: 767px)
    nav
      position: relative
      background-color: $black
      height: 50px
      border-bottom: 2px solid #000

      .menu-toggle
        display: block
        position: absolute
        background-color: $white
        height: 2px
        width: 18px
        top: 19px
        left: 20px
        cursor: pointer
        user-select: none
        &:before, &:after
          content: ''
          display: block
          position: relative
          background-color: $white
          height: 2px
          width: 18px
        &:before
          top: 4px
          background-color: $white
        &:after
          top: 6px
          background-color: $white

      .logo
        padding: 10px
        height: 50px
        width: 70px
        margin: 0 auto
        display: flex
        align-items: center
        svg
          height: 30px
          width: 50px
          margin: 0 auto
          path
            fill: $white


      .nav-link
        position: relative
        text-align: center
        display: block
        background-color: $black-transparent
        border-top: 2px solid #000
        color: $white
        padding: 15px 0 13px 0
        z-index: 2
        transform: translate(-100%, 0)
        transition: transform 0.1s ease-in-out
        &:hover
          background-color: $white-transparent
          color: $black
        &.active
          background-color: $white-transparent
          color: $black

        .description
          display: none

      .nav-about
        border-top: none

      .nav-portfolio

      .nav-blog

      .nav-contact
        border-bottom: 2px solid #000


  // Menu for Medium Devices
  @media (min-width: 768px)
    nav
      display: flex
      flex-direction: row
      justify-content: space-between

      .logo
        order: 2
        align-self: baseline
        width: 175px
        height: 175px
        margin: auto 30px
        border: 7px solid $black
        border-radius: 50%
        display: flex
        align-items: center
        &:hover
          background-color: $black
        &:hover > svg > g > path
          fill: $white
        svg
          margin: 0 auto;
          max-width: 90%
          padding-left: 6px
          path
            fill: $black

      .nav-link
        background-color: transparent
        padding: 5em 3em 3em 3em;
        color: $black
        width: 20%
        &:hover
          color: $white
          background-color: $black
        &:before
          content: ' {'
          float: right
        &:after
          content: '}'
        &.active
          background-color: $black
          color: $white
          &:hover
            background-color: $silver
            color: $black

        .description
          display: block
          position: relative
          font:
            family: "Nunito", sans-serif
            size: 0.65em
          line-height: 1.2em
          margin-left: 1.2em

          &:before
            position: absolute
            top: -50px
            left: -1.2em
            font:
              size: 1.1em

          &:after
            content: ';'

      .nav-about
        order: 0
        .description
          &:before
            content: '01.'

      .nav-portfolio
        order: 1
        .description
          &:before
            content: '02.'

      .nav-blog
        order: 3
        .description
          &:before
            content: '03.'

      .nav-contact
        order: 4
        .description
          &:before
            content: '04.'

// Make the Header White when needed
.white-header
  .site-header
    .logo
      border-color: rgba(255, 255 ,255 , 0.7)
      &:hover
        background-color: transparent
      &:hover > svg > g > path
        fill: $white
      svg
        path
          //fill: $white
          fill: rgba(255, 255 ,255 , 0.7)

    .nav-link
      color: $white
      &:hover
        color: $black
        background-color: rgba(255, 255 ,255 , 0.6)