.site-header
  margin-bottom: 4rem

  #menu-toggle
    display: none
    //Magic to show the menu
    &:checked + nav > .nav-link
      transform: translate(0, 0)
      transition: transform 0.5s ease-in-out
    &:checked + nav > .menu-toggle
      background: none
    &:checked + nav > .menu-toggle:before
      transform: rotate(45deg) translate(5.5px, 0.5px)
      transition: transform 0.5s ease-in-out
    &:checked + nav > .menu-toggle:after
      transform: rotate(-45deg) translate(5.5px, 0.5px)
      transition: transform 0.5s ease-in-out

  nav
    .nav-links
      font:
        family: "Varela Round", sans-serif

  // Menu for Small Devices
  @media (max-width: 767px)
    nav
      position: relative
      background-color: $black
      height: 50px
      border-bottom: 2px solid #000

      .menu-toggle
        display: block
        position: absolute
        background:
          image: repeating-linear-gradient(to right, $white, $white 18px)
          size: 2px
          position: center
          repeat: repeat-x
        height: 20px
        width: 18px
        top: 14px
        left: 20px
        cursor: pointer
        transition: background-color 0.5s ease-in-out
        transition-delay: 1s
        &:before, &:after
          content: ' '
          display: block
          position: relative
          background-color: $white
          height: 2px
          width: 18px
          transform: rotate(0) translate(0, 0)
          transition: transform 0.5s ease-in-out
        &:before
          top: 5px
        &:after
          bottom: -11px

      .logo
        padding: 10px
        height: 50px
        width: 70px
        margin: 0 auto
        display: flex
        align-items: center
        svg
          height: 30px
          width: 50px
          margin: 0 auto
          path
            fill: $white !important


      .nav-link
        position: relative
        text-align: center
        display: block
        background-color: $black-transparent
        border-top: 2px solid #000
        color: $white
        font-size: 1.3rem
        padding: 1rem 0
        z-index: 2
        transform: translate(-100%, 0)
        transition: transform 0.1s ease-in-out
        &:hover
          background-color: $white-transparent
          color: $black
        &.active
          background-color: $white-transparent
          color: $black
        &:last-of-type
          border-bottom: 2px solid #000

        .description
          display: none

      .nav-about
        border-top: none


  // Menu for Medium Devices
  @media (min-width: 768px)
    nav
      display: flex
      flex-direction: row
      justify-content: space-between

      .menu-toggle
        display: none

      .logo
        order: 2
        align-self: baseline
        width: 175px
        height: 175px
        margin: auto 30px
        border: 7px solid $black
        border-radius: 50%
        display: flex
        align-items: center
        &:hover
          background-color: $black
        &:hover > svg > g > path
          fill: $white
        svg
          margin: 0 auto;
          max-width: 90%
          padding-left: 6px
          path
            fill: $black

      .nav-link
        background-color: transparent
        padding: 6rem 3rem 5rem 3rem;
        color: $black
        width: 20%
        font:
          size: 1.2rem
        &:hover
          color: $white
          background-color: $black
        &:before
          content: ' {'
          float: right
        &:after
          content: '}'
        &.active
          background-color: $black
          color: $white
          &:hover
            background-color: $silver
            color: $black

        .description
          display: block
          position: relative
          font:
            family: "Nunito", sans-serif
            size: 0.8rem
          margin: 0.3rem 0 0.3rem 1rem

          &:before
            position: absolute
            top: -50px
            left: -1.2rem
            font:
              size: 0.8rem

          &:after
            content: ';'

      .nav-about
        order: 0
        .description
          &:before
            content: '01:'

      .nav-portfolio
        order: 1
        .description
          &:before
            content: '02:'

      .nav-blog
        order: 3
        .description
          &:before
            content: '03:'

      .nav-contact
        order: 4
        .description
          &:before
            content: '04:'

// Make the Header White when needed
.white-header
  .site-header
    .logo
      border-color: $white-transparent
      &:hover
        background-color: transparent
      &:hover > svg > g > path
        fill: $white
      svg
        path
          //fill: $white
          fill: $white-transparent

    .nav-link
      color: $white
      &:hover
        color: $black
        background-color: $white-transparent