#about
  ::selection
    background: $blue

  a
    &::selection
      color: $white

  img
    &::selection
      background: transparent

  .site-header
    nav
      .nav-about
        &.active
          background-color: $blue
          border-color: $black
          color: $white
          z-index: 1

          .description
            color: lighten($blue, 25%)

            &:before
              content: '01:active'

  @media (max-width: 767px)
    .site-header
      nav
        background-color: $blue
        border-color: darken($blue, 25%)

        .nav-about
          &.active
            background-color: transparentize($blue, .3)
            border-bottom: 0

  .page-title,
  .page-content
    a
      color: $blue
      text-decoration: underline

      &:hover,
      &:focus
        color: transparentize($blue, .3)

  .page-content
    border-color: $blue

    aside
      text-align: center

      h2
        font-size: 1.6rem

        small
          display: block
          line-height: 1.3

          @media (min-width: 544px) and (max-width: 1199px)
            font-size: 55%

          @media (min-width: 1200px) and (max-width: 1549px)
              font-size: 65%


      .tiagovatar
        margin-bottom: 1rem

      h2
        small
          color: $silver

    main
      @media (max-width: 767px)
        border-top: 2px solid $border
        margin-top: 2rem
        padding-top: 2rem
