#landpage
  color: $white
  background:
    color: $silver
    image: none
    //image: url('https://assets-cdn.github.com/images/modules/site/home-hero.jpg')
    repeat: no-repeat
    position: center center
    size: cover
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  height: 100vh

  .site-header
    flex-basis: 100%
    align-self: flex-start
    margin-bottom: 0

  .hero-banner
    text-align: center
    h1
      margin-top: 0

  .site-footer
    align-self: flex-end
    flex-basis: 100%
    margin: 0