#landpage
  align-content: stretch
  align-items: stretch
  background:
    //image: url('/assets/img/bg-landpage.jpg')
    repeat: no-repeat
    size: cover
  display: flex
  flex-wrap: wrap
  height: 100vh
  justify-content: space-around

  @media (max-width: 767px)
    background:
      image: url('/assets/img/bg-landpage.jpg')
      position: center bottom
      size: contain

  @media (min-width: 768px)
    background-position: 175px 80px

  @media (min-width: 992px)
    background-position: 375px 80px

  @media (min-width: 1200px)
    background-position: 575px 80px

  @media (min-width: 1650px)
    background-position: 775px 80px


  .site-header
    align-self: flex-start
    flex-basis: 100%
    margin-bottom: 0

  .container
    align-items: stretch

    .hero-content
      @media (max-width: 767px)
        text-align: center

      @media (min-width: 768px)
        text-align: right

      h1
        margin-top: 0

    .hero-img
      background-color: pink

  .site-footer
    align-self: flex-end
    flex-basis: 100%
    margin: 0
